<% provide(:title, "New") %>

<h1>ユーザー新規作成</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' %>
      
      
      <%= f.label :name, class: "label-user" %>
      <%= f.text_field :name, class: "form-control" %>
      
      <%= f.label :email, class: "label-user" %>
      <%= f.text_field :email, class: "form-control" %>
      
      <%= f.label :affiliation, class: "label-user" %>
      <%= f.text_field :affiliation, class: "form-control" %>
      
      <%= f.label :password, class: "label-user" %>
      <%= f.password_field :password, class: "form-control" %>
      
      <%= f.label :password_confirmation, class: "label-user" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
      
      <%= f.submit "作成", class: "btn btn-block btn-primary" %>
      
    <% end %>
      
      
  </div>
</div>
